@import 'uview-plus/theme.scss';

$uni-color-primary: #00d4ff;
$uni-color-success: #00c853;
$uni-color-warning: #ffab00;
$uni-color-error: #ff5252;

$uni-bg-color: #0f0f1a;
$uni-bg-color-grey: #1a1a2e;
$uni-text-color: #e0e0e0;
$uni-text-color-grey: #8b8b9e;
