# Dependencies
node_modules/

# Build output
dist/
unpackage/

# Logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# OS files
Thumbs.db
